{
  "presets": [
    "env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    "@babel/plugin-syntax-object-rest-spread",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "React.createElement"
      }
    ]
  ]
}