@import url("https://fonts.googleapis.com/css?family=Special+Elite");

body {
  font: 14px "Special Elite", Futura, sans-serif;
  margin: 0px;
}

.game-page {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.game-area {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.game-board {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.board-row {
  display: flex;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.game-control {
  margin-top: 10px;
}

.square,
.control,
.holder {
  font: 14px "Special Elite", Futura, sans-serif;
  float: left;
  padding: 0;
  height: 34px;
  width: 34px;
  line-height: 40px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}
.square,
.control {
  margin-left: -1px;
  margin-top: -1px;
}
.holder {
  margin-right: -1px;
  margin-bottom: -1px;
  border: 1px solid transparent;
}
.control svg {
  transform: scale(0.6);
  pointer-events: none;
}

/**
 * Theme colors
 * theme01: light
 * theme02: dark
 */
.theme01 .clock {
  color: #000;
}
.theme02 .clock {
  color: #fff;
}
.theme01.game-page,
.theme01 .holder {
  background: #fff;
}
.theme02.game-page,
.theme02 .holder {
  background: #222;
}
.theme01 .square,
.theme01 .control {
  background: #fff;
}
.theme02 .square,
.theme02 .control {
  background: #bbb;
}
.theme01 .square,
.theme01 .control {
  border: 1px solid #999;
}
.theme02 .square,
.theme02 .control {
  border: 1px solid #999;
}

.theme01 .square.active {
  background: #b3e5fc; /* #ddd */
}
.theme02 .square.active {
  background: #ddd;
}

.theme01 .square.solved {
  background: #81d4fa; /* #0f0 */
}
.theme02 .square.solved {
  background: #81d4fa; /* #0f0 */
}
.theme01 .square.solved.active {
  background: #4fc3f7; /* #0d0 */
}
.theme02 .square.solved.active {
  background: #4fc3f7; /* #0d0 */
}
.no-touch .theme01 .control:hover {
  background: #ddd;
  color: #303f9f;
}
.no-touch .theme01 .control:active,
.theme01 .control:active {
  background: #999;
}
.no-touch .theme02 .control:hover {
  background: #ddd;
  color: #303f9f;
}
.no-touch .theme02 .control:active,
.theme02 .control:active {
  background: #999;
}

.theme01 .control:hover svg {
  fill: #303f9f;
}
.theme02 .control:hover svg {
  fill: #303f9f;
}

.theme01 .control:disabled,
.theme01 .control:disabled:hover {
  color: #ddd;
}
.theme02.game-page .control:disabled,
.theme02 .control:disabled:hover {
  color: #ddd;
}

.theme01 .control:disabled svg,
.theme01 .control:disabled:hover svg {
  fill: #ddd;
}
.theme02 .control:disabled svg,
.theme02 .control:disabled:hover svg {
  fill: #999;
}
